* {
    box-sizing: border-box;
}

.card {
    width: 300px;
    min-height: 400px;
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 8px;
    margin: 50px auto;
    box-shadow: grey 4px 4px 10px;
}

.card > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 16px;
    width: 100%;
}

.card-title, card-description {
    margin-bottom: 8px;
}

.card-title::before {
    content: "🥳";
}

.card-title::after {
    content: "🥳";
}

.card-description {
    font-size: 0.8em;
    letter-spacing: 0.5px;
}

.card-button {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.card-button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

::selection {
    background-color: chocolate;
}